<html>
<head>
  <title>Dots and Boxes </title>
  <link rel="stylesheet" href="/style.css">
  <link rel="stylesheet" href="/userStyles.css">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

  <div id="titleBar">
    <h1>Dots and Boxes</h1>
  </div>

  <div class="container">
    <% if (locals.error && error!=null) { %>
      <p id="errorMessage"><%= error.message %></p>
    <% } %>

    <h2>Account settings </h2>
    <h3> Change password </h3>

    <form id="changePasswordForm" action="accountSettings/changePassword" method="POST">
      <input type="password" name="oldPassword" placeholder="Current Password"/>
      <input type="password" name="newPassword" placeholder="New password"/>
      <input type="password" name="confirmNewPassword" placeholder="Confirm new password"/>
      <input type="submit" value="Change password" />
    </form>
  </div>


  <script>
    document.getElementById("changePasswordForm").onsubmit = function (e) {

    };
  </script>
</body>
</html>
