/* Define colour schemes */

@media (prefers-color-scheme: light) { /* Light theme */
  html {
    --background-colour: white;
    --text-colour: black;
    --button-text-colour: black;

    --button-colour: #e7e7e7;
    --button-hover-colour: #f0f0f0;

    --button-secondry-colour: #ffbe46;
    --button-secondry-hover-colour: #ffe400;

    --button-positive-colour: #86fa86;
    --button-positive-hover-colour: #5cee5c;
    --button-negative-colour: #ffa6a6;
    --button-negative-hover-colour: #ee8787;

    --link-unvisited: #0000EE;
    --link-visited: #551A8B;

    --input-focus: yellow;
    --submit-focus: lime;
    --current-turn-background: #92ff45;
    --other-players-turn: orange;
    --waiting-for-new-game: yellow;
    --selected-dot-colour: #00e30b;
    --dot-colour: black;
  }
}

@media (prefers-color-scheme: dark) { /*Dark theme*/
  html {
    --background-colour: #121212;
    --text-colour: white;
    --button-text-colour: white;

    --button-colour: #4700ba;
    --button-hover-colour: #2d0077;

    --button-secondry-colour: #ea0000;
    --button-secondry-hover-colour: #9e0000;

    --button-positive-colour: green;
    --button-positive-hover-colour: darkGreen;
    --button-negative-colour: red;
    --button-negative-hover-colour: darkRed;

    --link-unvisited: orange;
    --link-visited: #c06400;

    --input-focus: yellow;
    --submit-focus: #37d0cf;
    --current-turn-background: #008800;
    --other-players-turn: #a56b00;
    --waiting-for-new-game: #018b78;
    --selected-dot-colour: #00dede;
    --dot-colour: white;
  }
}

/* Main styles */
body  {
  height: 100%;
  margin: 0;
  background: var(--background-colour);
  color: var(--text-colour);
}

* {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  text-align: center;
}

#titleBar {
  padding: 20px;
  margin-bottom: 10px;
  border-bottom: solid 3px;
}

.container {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 100%;
  max-width: 500px;
  padding: 3em;
}
.wideArea {max-width: 750px;}

#errorMessage {
  text-align: center;
  margin-bottom: 0;
}
.wide {flex-basis: 100%;}

a:not(.button) {color: var(--link-unvisited);}
a:not(.button):visited {color: var(--link-visited);}

form {
  display: flex;
  flex-direction: column;
}

input, select, .button {
  text-align: center;
  padding: 1em;
  margin: 8px 0;
  flex-grow: 1;
  flex-shrink: 1;
  font-size: large;
  border-radius: 100vh;
}

input:focus, select:focus {
  outline: none;
  background: var(--input-focus);
}

input[type=submit]:focus:not(.noFocusColour),.button:focus {
  outline: none;
  background: var(--submit-focus);
}

.button, button, input[type=submit] {
  text-decoration: none;
  color: var(--button-text-colour);
  background: var(--button-colour);
  border: solid var(--button-text-colour) 1px;
}
.button:hover, button:hover, input[type="submit"]:hover {
  background: var(--button-hover-colour);
}
.secondry {background: var(--button-secondry-colour) !important;}
.secondry:hover {background: var(--button-secondry-hover-colour) !important;}
.positive {background: var(--button-positive-colour) !important;}
.positive:hover {background: var(--button-positive-hover-colour) !important;}
.negative {background: var(--button-negative-colour) !important;}
.negative:hover {background: var(--button-negative-hover-colour) !important;}

.listItem {
  padding: 1em 1.5em;
  border: solid 1px;
  border-radius: 2em;
  margin: 0.75em;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.listItem * {
  display: inline-block;
  margin: auto 0;
}

.friendItem {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.section {
  padding: 1em 0;
}

.equalColumns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.equalColumns > * {
  flex-basis: 100%;
  padding: 0 0.5em;
}
@media only screen and (max-width: 600px) {
  .friendItem {
    flex-direction: column;
  }
}
