body  {
  height: 100%;
  margin: 0;
}

#titleBar {
  padding: 20px;
  margin-bottom: 10px;
  border-bottom: solid 3px;
}

.container {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 100%;
  max-width: 500px;
}
#errorMessage {
  text-align: center;
  margin-bottom: 0;
}

form {
  box-sizing: border-box;
  width: 100%;
  text-align: center;
}

input, button {
  box-sizing: border-box;
  text-align: center;
  padding: 1em;
  margin: 8px 0;
  width: 100%;

  font-size: large;
  border-radius: 2em;
}
input:focus {
  outline: none;
  background: yellow;
}
input[type=submit]:focus {
  outline: none;
  background: lime;
}

.container {
  box-sizing: border-box;
  padding: 3em;
}
