/* Define colour schemes */

@media (prefers-color-scheme: light) { /* Light theme */
  html {
    --background-colour: white;
    --text-colour: black;
    --button-text-colour: black;
    --button-colour: #e7e7e7;
    --button-hover-colour: #f0f0f0;
    --input-focus: yellow;
    --submit-focus: lime;
    --current-turn-background: #92ff45;
    --other-players-turn: orange;
    --waiting-for-new-game: yellow;
    --selected-dot-colour: #00e30b;
    --dot-colour: black;
  }
}
@media (prefers-color-scheme: dark) { /*Dark theme*/
  html {
    --background-colour: #121212;
    --text-colour: white;
    --button-text-colour: white;
    --button-colour: #4700ba;
    --button-hover-colour: #2d0077;
    --input-focus: yellow;
    --submit-focus: #37d0cf;
    --current-turn-background: #008800;
    --other-players-turn: #a56b00;
    --waiting-for-new-game: #018b78;
    --selected-dot-colour: #00dede;
    --dot-colour: white;
  }
}

/* Main styles */
body  {
  height: 100%;
  margin: 0;
  background: var(--background-colour);
  color: var(--text-colour);
}

* {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  text-align: center;
}

#titleBar {
  padding: 20px;
  margin-bottom: 10px;
  border-bottom: solid 3px;
}

.container {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 100%;
  max-width: 500px;
}
.wideArea {max-width: 750px;}
#errorMessage {
  text-align: center;
  margin-bottom: 0;
}
.wide {
  flex-basis: 100%;
}
form {
  display: flex;
  flex-direction: column;
}

input, select, .button {
  text-align: center;
  padding: 1em;
  margin: 8px 0;
  flex-grow: 1;
  flex-shrink: 1;
  font-size: large;
  border-radius: 100vh;
}

input:focus, select:focus {
  outline: none;
  background: var(--input-focus);
}

input[type=submit]:focus:not(.noFocusColour),.button:focus {
  outline: none;
  background: var(--submit-focus);
}

.button, button, input[type=submit] {
  text-decoration: none;
  color: var(--button-text-colour);
  background: var(--button-colour);
  border: solid var(--button-text-colour) 1px;
}
.button:hover, button:hover, input[type="submit"]:hover {
  background: var(--button-hover-colour);
}

.container {
  padding: 3em;
}

.listItem {
  padding: 1em 1.5em;
  border: solid 1px;
  border-radius: 2em;
  margin: 0.75em;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.listItem * {
  display: inline-block;
  margin-bottom: 0;
}
