* {
  --button-colour: #e7e7e7;
  --button-hover-colour: #f0f0f0;
  --input-focus: yellow;
  --submit-focus: lime;
}

body  {
  height: 100%;
  margin: 0;
}
* {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  text-align: center;
}

#titleBar {
  padding: 20px;
  margin-bottom: 10px;
  border-bottom: solid 3px;
}

.container {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 100%;
  max-width: 500px;
}
#errorMessage {
  text-align: center;
  margin-bottom: 0;
}
.wide {
  flex-basis: 100%;
}
form {
  display: flex;
  flex-direction: column;
}

input, .button {
  text-align: center;
  padding: 1em;
  margin: 8px 0;
  flex-grow: 1;
  flex-shrink: 1;
  font-size: large;
  border-radius: 100vh;
}

input:focus {
  outline: none;
  background: var(--input-focus);
}

input[type=submit]:focus:not(.noFocusColour),.button:focus {
  outline: none;
  background: var(--submit-focus);
}

.button, button, input[type=submit] {
  text-decoration: none;
  color: black;
  background: var(--button-colour);
  border: solid black 1px;
}
.button:hover, button:hover, input[type="submit"]:hover {
  background: var(--button-hover-colour);
}

.container {
  padding: 3em;
}

.listItem {
  padding: 1em 1.5em;
  border: solid 1px;
  border-radius: 2em;
  margin: 0.75em;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.listItem * {
  display: inline-block;
  margin-bottom: 0;
}
