body, .section  {
  height: 100%;
  margin: 0;
  overflow-x: hidden;
}

.containerOuter {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}
.containerInner {
  padding: 25px;
  display: flex;
  max-width: 500px;
  margin: auto;
  flex-direction: column;
}

.fullHeight {
  height: 100%;
}

/* Waiting Room */
#roomDisplay {
  font-weight: bold;
}

.settings {
  margin: 0.5em;
}

#username {
  display: flex;
  flex-direction: row;
}

#username>* {
  flex-shrink: 1;
  flex-grow: 1;
}

#username button {
  max-width: 200px;
  margin-left: 1em;
}

#colourInput {
  height: 4em;
  padding: 8px;
}

.setting {
  width: 100%;
  margin: 5px;
}

.adminSettings > h3 {
  margin: 5px;
}

.sliderContainer {
  display: flex;
  justify-content: center;
}

.sliderContainer p {
  width: 6em;
}

.sliderContainer input {
  flex-grow: 1;
  margin: 0 1em;
  padding: 0;
}

/* Main Game Screen */

.playerOuter {
  --angle: 0deg;
  margin: -3px 10px 10px 10px;
  border-radius: 1em;
  /* background: conic-gradient(from var(--angle), blue, red); */
  background: conic-gradient(red 0deg var(--angle), white var(--angle) 360deg);
  padding: 3px;
}

.playerInner {  /* Player object in player list */
  padding: 10px;
  display: flex;
  justify-content: space-between;

  /* border: solid 3px; */
  border-radius: 1em;
  background: var(--background-colour);
  position: relative;
}

.playerInner > p {
  padding: 5px;
}

.disconnected {
  text-decoration: line-through;
}

.playerList {
  margin: 4px 0;
}
.topBar {
  padding: 8px;
  padding-right: 20px;
  background: var(--other-players-turn);
  display: flex;
  position: relative;
  align-items: center;
  border-radius: 1em;
}
.playerTurn {
  margin: 0px auto;
  padding: 8px;
}
#topBarIcons {
  position: absolute;
  right: 0;
}
.icon {
  padding: 10px;
  color: var(--icon-colour);
}
.icon:hover {
  color: var(--icon-hover-colour);
}


.colourSample {
  box-sizing: content-box;
  border: solid 5px;
  width: 50px;
  height: 50px;
}

.currentTurn {
  background: var(--current-turn-background);
}
.waitingForNewGame {
  background: var(--waiting-for-new-game);;
}

.thisPlayer {
  background: white;
  padding: 5px;
}

#gameContainerOuter {
  display: flex;
  flex-flow: row;
  height: 100%;
  justify-content: space-between;
}

#gameContainerInner {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 1;
  min-width: 200px;
}

#sidebar {
  flex-basis: 350px;
  flex-grow: 1;
  flex-shrink: 1;
  margin-bottom: 1em;
}

.inGameControls {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0 1.5em;
}

#board {
  flex-grow: 1;
  min-width: 200px;
  min-height: 200px;
  margin: 4px;
}

/* Settings screen (popup) */
.settingsScreenFilter {
  position: fixed;
  width: 100%;
  height: 100%;
  padding: 20px;
  background: black;
  opacity: 75%;
}
.settingsScreenContainer {
  position: fixed;
  width: 100%;
  height: 100%;
  padding: 20px;
}
.settingsScreen {
  position: relative;
  margin: auto;
  width: 100%;
  height: 100%;
  max-width: 700px;
  max-height: 700px;
  overflow-y: scroll;
  overflow-x: hidden;
  border: solid 5px;
  border-radius: 2em;
  background: var(--background-colour);
  color: var(--text-colour);
}
.settingsScreen h2.settingsTitle {
  width: 100%;
  padding-bottom: 15px;
  border-bottom: solid 2px;
}
#settingsCloseButton {
  position: absolute;
  top: 5px;
  right: 15px;
}

@media only screen and (max-width: 750px) {
  #gameContainerInner, #board {
    width: 100vw;
    height: 100vw;
    flex-grow: 0;
  }
  .containerOuter,.waitingRoomContainer {
    height: auto;
  }
  #gameContainerOuter {
    flex-flow: column;
  }

  #sidebar {
    flex-basis: 0;
    flex-grow: 0;
    flex-shrink: 0;
  }
}
@media only screen and (max-width: 500px) {
  #username {
    flex-direction: column;
    flex-wrap: wrap;
  }
  #username button {
    max-width: 100%;
    width: 100%;
    margin: 0;
  }
  #username * {
    max-width: 100%;
  }
}
